[Unit]
Description=Serial Thermometer ("Pim") service
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python /home/pi/pySerialThermometer/serialThermometer.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
